﻿@model testSancrisoft.ViewModel.ApplicantViewModel

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm("Create", "Applicants", FormMethod.Post, new { enctype = "multipart/form-data" ,@id="registration"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Work with us</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthdate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.birthdate, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biography, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.biography, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.biography, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.streetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.streetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.streetAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.postalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photoC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            
                    @Html.TextBoxFor(modelo => modelo.photoC, new { @type = "file",@class= "form-control", @accept = "image/*"  })
          
               
            </div>
        </div>
        <div class="form-group" id="files">
            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              
                    @Html.TextBoxFor(modelo => modelo.files, new { @class= "col-md-6 form-control file", @type = "file" , @accept = "application/pdf,image/*,.doc,.docx" })
                <input type="text" class="col-md-6 form-control" name="descripciones" placeholder="Description file" value="" />
               
                <button id="addMore" style="margin-left:10px;" type="button" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> add more files
                </button>    
            </div>
       
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAppointment, "idAppointment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idAppointment", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAppointment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="guardar" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div id="map"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACJapLIVhm-uVWitwICh24232jYdkP1SQ&callback=initMap">
</script>

    <script src="~/Scripts/apiGoogle.js"></script>
<script src="~/Scripts/ApplicantJs.js"></script>
@{if (ViewBag.message != null && ViewBag.message != "")
    {
        <script type="text/javascript">
            $(".form-horizontal input, textarea").each(function () {
                if ($(this)[0].id != "guardar") {
                    $(this).val('');
                }
               
            });
            alert('@ViewBag.message');
        </script>
    }
}

  <script type="text/javascript">

      $(document).ready(function () {
          // validate the comment form when it is submitted
       


          $('#guardar').click(function (e) {
              var val = true;
              $.each($("[data-val='true']"), function (key, value) {


                  if (value.value === "") {
                      $(value).css("border", "1px solid red");
                      val = false;
                  }
              });
              if (val) {
                  $('#registration').submit();
              } else alert("Fields in red are required");

          });
      });



    </script>

}
