﻿@model testSancrisoft.ViewModel.AplicanDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Applicant</h4>
    <hr />


    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Appointment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Appointment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.birthdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.birthdate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.biography)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.biography)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.streetAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.streetAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.postalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.postalCode)
            </dd>

          

     

        </dl>

    </div>
    <div class="col-md-6">

        @if (!string.IsNullOrEmpty(Model.photo))
            {
            <img src="@Url.Content(Model.photo)" align="center" style="height: 60%; width: 350px;display: block; margin-left: auto;
    margin-right: auto;" class="img-rounded" alt="Image" />
        }
    </div>
    
</div>
<table class="table">
    @if (Model.attachments.Count>0)
    {
        <tr>
            <th>Descripcion</th>
            <th>Link descarga</th>
        </tr>
    foreach (var item in Model.attachments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)  
            </td>
            <td>
                <a href="@item.attachment">Download</a>
            </td>
         
        </tr>
    }
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idApplicant }) |
    @Html.ActionLink("Back to List", "Index")
</p>
